:root {
     --primary-color: hsl(14, 45%, 36%);
     --secondary-color: hsl(332, 51%, 32%);
     --font-color: hsl(7, 15%, 22%);
     --title-font: "Young Serif", serif;
     --main-font: "Outfit", sans-serif;
}
   

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: hsl(30, 54%, 90%);
}

section{
     width: 30%;
     margin: 3em auto;
     background-color: #fff;
     padding: 2em;
     border-radius: 20px;
}

section #omelette{
     width: 100%;
     border-radius: 10px;
     margin-bottom: 2em;
}

section h1{
     font-family: var(--title-font);
     font-weight: 600;
     color: var(--font-color);
     font-size: 1.8rem;
}

section p{
     font-family: var(--main-font);
     color: var(--font-color);
     font-size: .8rem;
     margin: .8em 0;
}

#preparation_container{
     background-color: hsl(330, 100%, 97%);
     padding: 1em;
     border-radius: 10px;
     line-height: 1.8;
     margin-top: 1em;
}

#preparation_container span{
     color: var(--secondary-color);
     font-family: var(--main-font);
     font-weight: 600;
}

.lists{
     font-family: var(--main-font);
     color: var(--font-color);
     font-size: .8rem;
     padding-left: 0;
}

.itens{
     display: flex;
     align-items: center;
}

.itens::before{
     content: "\2022";
     color: var(--secondary-color);
     font-size: 1.3rem;
     margin: 0 1.3em 0 .3em;
}

#ingredients_container{
     margin-bottom: 1em;
}

h2{
     font-family: var(--title-font);
     font-weight: 500;
     color: var(--primary-color);
     margin-top: 1rem;
}

.ingredients_list{
     margin-top: 1em;
}

#instructions_container{
     border-top: 1px solid rgb(221, 221, 221);
     border-bottom: 1px solid rgb(221, 221, 221);
}

.instructions_list{
     list-style: none;
     margin-top: 1em;
}

.instructions_itens{
     display: flex;
     margin: 0 0 1rem 1rem;
}

.numeric_markers{
     margin-right: 1em;
}

table, tr{
     border-collapse: collapse;
     width: 100%;
     border-bottom: 1px solid rgb(221, 221, 221);
     font-family: var(--main-font);
     font-size: .9em;
     line-height: 3;
}

td{
     display: inline-block;
     width: 50%;
     padding-left: 1.7em;
}

.values{
     color: var(--primary-color);
     font-weight: bold;
}