:root {
     --primary-color: hsl(14, 45%, 36%);
     --secondary-color: hsl(332, 51%, 32%);
     --font-color: hsl(7, 15%, 22%);
     --title-font: "Young Serif", serif;
     --main-font: "Outfit", sans-serif;
}
   

*{
     margin: 0;
     box-sizing: border-box;
}

body{
     background-color: hsl(30, 54%, 90%);
}

section{
     max-width: 35%;
     margin: 0 auto;
     background-color: #fff;
     margin-top: 3em;
     padding: 2em;
     border-radius: 20px;
}

section #omelette{
     max-width: 100%;
     border-radius: 10px;
     margin-bottom: 2em;
}

h1{
     font-family: var(--title-font);
     font-weight: 600;
     color: var(--font-color);
     font-size: 1.8rem;
}

.description{
     font-family: var(--main-font);
     color: var(--font-color);
     font-size: .8rem;
     margin: .8em 0;
}

#preparation_container{
     background-color: hsl(330, 100%, 97%);
     padding: 1em;
     border-radius: 10px;
     line-height: 1.8;
     margin-top: 1em;
}

span{
     color: var(--secondary-color);
     font-family: var(--main-font);
     font-weight: 600;
}

.lists{
     font-family: var(--main-font);
     color: var(--font-color);
     font-size: .8rem;
     padding-left: 0;
}

.itens{
     display: flex;
     align-items: center;
}

.itens::before{
     content: "\2022";
     color: var(--secondary-color);
     font-size: 1.3rem;
     margin: 0 1.3em 0 .3em;
}

#ingredients_container{
     padding-bottom: 1.5em;
     border-bottom: 1px solid rgb(184, 184, 184);
}

h2{
     font-family: var(--title-font);
     font-weight: 500;
     color: var(--primary-color);
     margin-top: 1em;
}

.ingredients_list{
     margin-top: 1em;
}

.instructions_list{
     list-style: none;
     margin-top: 1em;
     counter-reset: my-counter;
}

.instructions_itens{
     padding-bottom: 1em;
     counter-increment: my-counter;
}

.instructions_itens::before{
     content: counter(my-counter) ".";
     color: var(--secondary-color);
     font-weight: bold;
     margin: 0 1em 0 1em;
}